@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@300;600&display=swap');


* {
box-sizing: border-box;
margin: 0px;
padding: 0px;
font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

body{
  width: 80%;
  margin: auto;
}

header{
  margin-top: 20px;
  margin-bottom: 10px;
}

.logo {
  width: 50%;
  display: inline-block;
}

.logo h1{
  font-family: 'Caveat', cursive; 
  font-size:xx-large;
  font-weight: bolder;
}
.logo p{
  font-size: small;
  color:  rgb(143, 143, 143);
}

.logo img {
  float: left;
  margin-right: 10px;
}

.socials {
  float: right;
}

.socials :nth-child(7){
  padding-left:15px ;
}

nav {
  margin-bottom:30px ;
}

header hr, main hr {
background-image:url("img/hr-img.png");
background-repeat: repeat;
width:100% ;
padding: 10px;
border: none;
 }

main{
  margin-top: 40px;
  margin-bottom: 20px;
}

.title1 {
  width: 50%;
  display: inline-block;
}

.title1 h2 {
font-size: 30px;
}

.title1 p {
font-size: 15px;
color: rgb(143, 143, 143);
}

.title2 {
  width: 50%;
  float: right;
}

.title2 div {
  float: right;
}

.title2 p {
  display: inline;
}

.article1 img{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article1 p{
  margin-top: 30px;
  margin-bottom: 30px;
  text-indent: 50px;
}

.article2{
background-image: url("img/list-bg.png") ;
background-repeat: no-repeat;
background-size: cover;
margin-bottom:50px ;

}
.article21 {
display: inline-block;
width :49%;
padding:50px ;

}

.article22 {
  width :49%;
  float: right;
  padding:50px ;
  }
  input, label{
    margin-bottom:20px ;
  }

.footer1{
    margin:40px ;
    
  }

.footer11{
    display:inline-block;
    width:75% ;
 }
.footer11 img{
    float: left;
    margin-right:20px ;
}

.footer11 h3{
  margin:5px ;
}

 button {
    width:18% ;
    padding:17px; 
    margin-left:50px ;
    vertical-align: top;
    background-color: rgba(179, 64, 64, 0.932);
    color: white;
    border-style: none;
}
  
.footer21{
 margin-bottom: 30px;
}

.footer21 hr {
    width: 45%;
    display: inline-block;
    color: rgb(196, 196, 196);
}

.footer21 img{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  padding-right: 25px ;
  padding-left: 25px;
  vertical-align: middle ;
}

.footer2 p{
  text-align: center;
  color:rgb(196, 196, 196) ;
  font-size: medium;
}